.docs, .doc {
    max-width: 420px;
    min-height: 5px;
    min-width: 420px;
    padding: 5px;
    text-align: left;
    vertical-align: top;
    display: table-cell;
}
.code, .code {
    background: none repeat scroll 0 0 #F5F5FF;
    border-left: 1px solid #E5E5EE;
    padding: 5px;
    vertical-align: top;
    width: 100%;
    display: table-cell;
    font-family: Courier;
    font-weight: bold;
    cursor: pointer;
}
.hover {
    background: none repeat scroll 0 0 #ffffcc;
}
.cheat-sheet li {
    display: block;
    margin:0;
    padding-left: 15px;
}
.default_value {
    color: #aaa;
    font-weight: normal;
}
.accepted_values {
    color: green;
    font-weight: normal;
}
