body {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #182d38;
  line-height: 1.4;
  font-size: 13px;
  background-color: #D9DADB;
}

.inner {
  position:relative;
  width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.three-column {
  display: inline;
  float:left;
  width: 293px;
  margin: 0 20px 0 0;
}

strong {
  font-weight: bold;
}

a {
  color: #8E3557;
  text-decoration: none;
}

a:hover {
  color: #4C1B1B;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h3 {
  font-size: 14px;
  margin-bottom: 9px;
}

.container {
  width: 990px;
  margin-left:auto;
  margin-right:auto;
  background-color: #fff;
}

header {
  width: 100%;
  height:46px;
  position: relative;
  z-index: 10;
  border-bottom: 1px solid #cacaca;
  box-shadow: 0 1px 0 rgba(255,255,255,0.4), 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.4), 0 5px 10px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.4), 0 5px 10px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.4), 0 5px 10px rgba(0,0,0,0.2);

  background: -webkit-linear-gradient(top, #fafafa, #eaeaea);
  background: -moz-linear-gradient(top, #fafafa, #eaeaea);
  background: -ms-linear-gradient(top, #fafafa, #eaeaea);
  background: -o-linear-gradient(top, #fafafa, #eaeaea);
  background: linear-gradient(top, #fafafa, #eaeaea);
}

header .logo {
  float: left;
  width: 300px;
  overflow: hidden;
  padding: 0;
  margin: 4px 0 0 0;
  font-size:120%
}

header .logo a {
  display: block;
}

header .logo a span {
  color:black;
  font-size:90%
}

header ul.nav, .toc_header, .markdown h2 {
  float: right;
  padding: 8px 3px 8px 2px;
  font-weight: bold;
  text-shadow: white 1px 1px 0px;
  font-size: 12px;
  margin-top: 4px;
  background: #f5f5f5;
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#fcfcfc', endColorstr='#ececec');
  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#e8e8e8));
  background:-moz-linear-gradient(270deg, #fcfcfc, #ececec);
  border-color:#eee;
  border:1px solid #e9e9e9;
  border-bottom-color:#f5f5f5;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);
  box-shadow:0 1px 1px rgba(0,0,0,0.2);
}

header ul.nav {
  -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2) inset;
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.2) inset;
  background: -webkit-linear-gradient(top, #CCCBCE, #B5B4B6);
  background: -moz-linear-gradient(top, #CCCBCE, #B5B4B6);
  background: -ms-linear-gradient(top, #CCCBCE, #B5B4B6);
  background: -o-linear-gradient(top, #CCCBCE, #B5B4B6);
  background: linear-gradient(top, #CCCBCE, #B5B4B6);
  padding: 0 3px 0 2px;
}

header ul.nav li:first-child {
  background: transparent;
}

header ul.nav li {
  float: left;
  margin: 0;
  
  list-style-type: none;
  background: url(../images/nav-rule.png) no-repeat 0px 50%;
}

header ul.nav a {
  display: inline-block;
  padding: 10px 11px 10px 13px;
}

header ul.nav li a:hover {
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#fcfcfc', endColorstr='#ececec');
  background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#e8e8e8));
  background:-moz-linear-gradient(270deg, #fcfcfc, #ececec);
  display:inline-block;
  
	}

.toc_zone {
  width: 330px;
  position: absolute;
  top: 75px;
  right: 30px;
  display: none;
}

.toc_zone.active {
	display: block;
}

.toc_header { 
	display: block;
	width: 100%;
	color: #8E3557;
	text-align: center;
}

.toc {
  background: -webkit-linear-gradient(top, #fafafa, #eaeaea);
  background: -moz-linear-gradient(top, #fafafa, #eaeaea);
  background: -ms-linear-gradient(top, #fafafa, #eaeaea);
  background: -o-linear-gradient(top, #fafafa, #eaeaea);
  background: linear-gradient(top, #fafafa, #eaeaea);
  padding: 5px;
  margin-right: 5px;
  margin-top: 10px;
  -webkit-border-radius: 1em;
  -moz-border-radius:  1em;
  border-radius:  1em;
}

.toc ul {
    padding-left: 15px;
}
	
.toc a {
  color: #000;
}

.toc a:hover {
  color: #8E3557;
}

#header a {
  outline: none;
  text-decoration: none;
}


.ribbon {
  background-color: #8E3557;
  overflow: hidden;
  /* top left corner */
  position: absolute;
  right: -3em;
  top: 2.5em;
  /* 45 deg ccw rotation */
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  /* shadow */
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
}

.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
}

.searchform {
    display: inline-block;
    zoom: 1; /* ie7 hack for display:inline-block */
    *display: inline;
    border: solid 1px #d2d2d2;
    padding: 3px 5px;
    
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;

    -webkit-box-shadow: 0 1px 0px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 0px rgba(0,0,0,.1);
    box-shadow: 0 1px 0px rgba(0,0,0,.1);

    background: #f1f1f1;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie7 */
    -ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie8 */
}
.searchform input {
    font: normal 12px/100% Arial, Helvetica, sans-serif;
}
.searchform .searchfield {
    background: #fff;
    padding: 6px 6px 6px 8px;
    width: 202px;
    border: solid 1px #bcbbbb;
    outline: none;

    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;

    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
.searchform .searchbutton {
    color: #fff;
    border: solid 1px #494949;
    font-size: 11px;
    height: 27px;
    width: 27px;
    text-shadow: 0 1px 1px rgba(0,0,0,.6);

    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;

    background: #5f5f5f;
    background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#454545));
    background: -moz-linear-gradient(top,  #9e9e9e,  #454545);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie7 */
    -ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie8 */
}

.search {
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 27px;
}

#top {
  height: 310px;
  background: -webkit-linear-gradient(top, #8E3557, #4C1B1B);
  background: -moz-linear-gradient(top, #8E3557, #4C1B1B);
  background: -ms-linear-gradient(top, #8E3557, #4C1B1B);
  background: -o-linear-gradient(top, #8E3557, #4C1B1B);
  background: gradient(top, #8E3557, #4C1B1B);
}

#top .inner {
  height: 310px;
  background: url('../images/displays.png') no-repeat;
  background-position: 75% 100%;
}

#top h2 {
  position: absolute;
  top: 45px;
  width: 360px;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0px;
  text-shadow: 0 0 5px #4C1B1B;
}

section#content {
  padding: 40px ;
  -webkit-box-shadow: 0 -5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 -5px 10px rgba(0,0,0,.2);
  -ms-box-shadow: 0 -5px 10px rgba(0,0,0,.2);
  -o-box-shadow: 0 -5px 10px rgba(0,0,0,.2);
  box-shadow: 0 -5px 10px rgba(0,0,0,.2);
}

section#content .inner {
   width: 880px;
}
	
ol.screencap-list li {
  display: inline;
  float: left;
  width: 293px;
  margin: 0 20px 20px 0;
  list-style: numeric;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

ol.screencap-list span img {
  display: block;
  height: 215px;
  width: 293px;
  margin: 0px 0 10px 0;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border: none;
  border-radius: 5px;

  box-shadow: 0 0 5px rgba(0,0,0,.3);
}

footer {
  color: #636363;
  margin-top:25px;
  padding: 25px;
  clear: both;
  text-align: center;
  border-top: thin solid #e1e1e1;
  background-color: #f8f8f8;
}

footer a:hover {
  text-decoration: underline;
}

footer li {
  list-style: none;
}

.fork_and_edit {
    background: url("../images/github.gif") no-repeat scroll 0 0 transparent;
    height: 30px;
    width: 600px;
}
.twitter {
  position: absolute;
    right: 55px;
    top: 0;
}