{% extends 'base.html' %}
{% block affix_menu %}
<div data-spy="affix" data-offset-top="60" data-offset-bottom="200">
	<ul>
		<ul>
			<li><a href="/documentation/generator-params#custom-stylesheets">Custom stylesheets</a></li>
		</ul>
		<ul>

			<li><a href="/documentation/list#title">Title</a></li>
			<li><a href="/documentation/list#display">Display</a></li>
			<li><a href="/documentation/list#paginate">Paginate</a></li>
			<li><a href="/documentation/list#overwrite-the-rendering-of-a-field">Overwrite the rendering of a field</a></li>
			<li><a href="/documentation/list#default-sort">Default sort</a></li>
		</ul>

		<li><a href=""></a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
	</ul>
</div>
{% endblock %}