---
layout: clean_base
---


<section id="content" class="cheat-sheet">
  <div class="inner">
	    {{ content }}
  </div>
</section>

<script type="text/javascript">
$(document).ready(function() {
	var lowOpacity = 0.8;

	$('.doc:odd').addClass('odd');
	$('.code:odd').addClass('odd');

	$('.doc').each(function() {
		$(this).prev().css('height', $(this).height()+10); //10 is padding
		$(this).fadeTo(0, lowOpacity);
	});

	$('.code').hover(function handlerIn(e) {
		$(this).next().fadeTo(0, 1);
		$(this).addClass('hover');
		$(this).next().addClass('hover');
	},
	function handlerOut(e) {
		$(this).removeClass('hover');
		$(this).next().removeClass('hover');

		$(this).next().fadeTo(0, lowOpacity);

	});

	$('.doc').hover(function handlerIn(e) {
		$(this).fadeTo(0, 1);
		$(this).addClass('hover');
		$(this).prev().addClass('hover');
	},
	function handlerOut(e) {
		$(this).removeClass('hover');
		$(this).prev().removeClass('hover');

		$(this).fadeTo(0, lowOpacity);

	});

    $('.toc').tableOfContents($('#content'));
    $('.toc_zone').addClass('active');
    window.location.hash = window.location.hash;

});
</script>
