<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ page.title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="language" content="en" />
    <link type="text/css" href="/css/reset.css" media="all" rel="stylesheet">
    <link type="text/css" href="/css/normalize.css" media="all" rel="stylesheet">
    <link type="text/css" href="/css/pages.css" media="all" rel="stylesheet">
    <link type="text/css" href="/css/markdown.css" media="all" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="/css/base_syntax.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/syntax.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/tabber.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/cheat_sheet.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.tableofcontents.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/tabber.js"></script>
  </head>

  <body>
    <div class="container">
    <header>
      <div class="inner">
        <h1 class="logo">
          <a href="/">AdmingeneratorGeneratorBundle <br /><span>The Symfony2 admingenerator</span></a>
        </h1>

        <ul class="nav">
          <li class="first element">
            <a class="link" href="/index.html">About</a>
          </li>
          <li class="last element">
            <a class="link" href="/cheat-sheet.html">Cheat sheet</a>
          </li>
          <li class="element">
            <a class="link" href="/installation.html">Installation</a>
          </li>
          <li class="last element">
            <a class="link" href="/demo.html">Demo</a>
          </li>
          <li class="element">
            <a class="link" href="/documentation.html">Documentation</a>
          </li>
          <li class="element">
            <a class="link" href="/roadmap.html">Roadmap</a>
          </li>
          <li class="element">
            <a class="link" href="/contribute.html">Contribute</a>
          </li>
          <li class="last element">
            <a class="link" href="/support.html">Support</a>
          </li>
        </ul>
      </div>
    </header>

    <section id="top">
      <div class="inner">
        <h2>The <strong>generator.yml</strong><br>
          power for your<br>
          <strong>Symfony2</strong><br>
          backends</h2>

          <div class="search">
            <form action="/search.html" class="searchform">
                <input name="q" placeholder="Search..." type="text" class="searchfield" />
                <input type="submit" value="Go" class="searchbutton" />
            </form>
          </div>

          <div class="toc_zone">
            <span class="toc_header">Table of contents</span>
            <ul class="toc"></ul>
          </div>
      </div>
    </section>

    <div class="ribbon">
       <a href="https://github.com/symfony2admingenerator/AdmingeneratorGeneratorBundle" rel="me">Fork me on GitHub</a>
    </div>

    {{ content }}

    <footer>
          <div class="inner clearfix">
            <p class="fork_and_edit">
               Found a typo ? Something is wrong in this documentation ? Just <a href="http://github.com/symfony2admingenerator/symfony2admingenerator.github.com/edit/master{{ page.url|replace:'.html','' }}.markdown">fork and edit</a> it !
            </p>
            <p class="twitter">
                <a href="https://twitter.com/#!/cedriclombardot">
                    <img src="/images/twitter.png" alt="Follow @cedriclombardot on titter" />
                </a>
            </p>
           </div>
    </footer>

    </div>

     <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25250509-1']);
      _gaq.push(['_trackPageview']);
      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

      $(document).ready(function() {
    	  var url = window.location.href;
    	  var parts = url.split('/');
    	  var link = parts[3].replace('.html','');

    	  $('header .nav a[href="\/'+link+'.html"]').each(function (key, elem) {
        	  $(elem).parent().addClass('active');
    	  });
      });
     </script>


</body></html>
