---
layout: base
---

<div class="markdown">
	<div>
    {{ content }}
    </div>
    
	<div id="rssGroups">
	</div>
</div>

<script src="http://www.google.com/jsapi?key=ABQIAAAAhouD53COXM_JTzDX-YC8vhTCGNSts3O6NUKf-9LbcIrtSdJ5XRQgUuU5jRQMYyQMnuVya_KUB01LeQ" type="text/javascript"></script>
<script language="Javascript" type="text/javascript">//<![CDATA[
 /*
*  How to load a feed via the Feeds API.
*/

google.load("feeds", "1");

// Our callback function, for when a feed is loaded.
function feedLoaded(result) {
  if (!result.error) {
    // Grab the container we will put the results into
    var container = document.getElementById("rssGroups");
    container.innerHTML = '';

    // Loop through the feeds, putting the titles onto the page.
    // Check out the result object for a list of properties returned in each entry.
    // http://code.google.com/apis/ajaxfeeds/documentation/reference.html#JSON
    for (var i = 0; i < result.feed.entries.length; i++) {
      var entry = result.feed.entries[i];
      var div = document.createElement("div");
      var h4 =  document.createElement("h4");
      var link = document.createElement("a");
      var date = document.createElement("p");
      var content = document.createElement("p");
      date.setAttribute("class", "date");
      div.appendChild(h4);
      h4.appendChild(link);
      link.appendChild(document.createTextNode(entry.title));
      link.setAttribute("target", "_blank");
      link.setAttribute("href", entry.link);
      date.appendChild(document.createTextNode(entry.publishedDate));
      div.appendChild(date);
      content.innerHTML = entry.content;
      div.appendChild(content);
      container.appendChild(div);
    }
  }
}

function OnLoad() {
  // Create a feed instance that will grab Digg's feed.
  var feed = new google.feeds.Feed("http://groups.google.com/group/symfony2admingenerator/feed/rss_v2_0_msgs.xml");

  // Calling load sends the request off.  It requires a callback function.
  feed.load(feedLoaded);
}

google.setOnLoadCallback(OnLoad);
 //]]>
 </script>

